
  .btn-crear-nota {
    margin-right: auto; 
  }
  body {
    font-family: serif;
    margin: 2rem;
  }
  .note-container {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
  }

  

